/* NavBar.css */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    border-right: 1px solid #e4e4e4;
}

.nav-icon {
    width: 55%;
    margin: 30% 0%;
}
.main-content {
    margin-left: 5%; /* Offset by the width of the nav bar */
}
