.product{
    break-inside: avoid;
    margin-bottom: 16px;
    border-radius:14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product:hover{
    filter: brightness(0.8);
    cursor:pointer;
}

.product-image{
    margin: 0;
    position: relative;
    width: 100%;
    border-radius: 14px;
}

.product-brand{
    font-size: 90%;
    color: #676767;
}

.concerns-and-type{
    display:flex;
}

.product-name{
    font-size:110%;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    padding: 30px;
    width: 20%;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    animation: fadeIn 0.3s ease-out;
}
