.shimmer {
    margin: 0;
    position: relative;
    width: 100%;
    border-radius: 14px;
    color: grey;
    display: inline-block;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 1s infinite;
    font-size: 50px;
}

@keyframes shimmer {
    100% {
        mask-position: left;
    }
}
.product {
    break-inside: avoid;
    margin-bottom: 16px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    margin: 0;
    position: relative;
    width: 100%;
    border-radius: 14px;
}

.product-brand {
    font-size: 100%;
    color: #676767;
}

.concerns-and-type {
    display: flex;
    overflow: wrap;
}

.product-name {
    font-size: 120%;
}

.type-box .concern-box {
    padding: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    padding: 30px;
    width: 20%;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    animation: fadeIn 0.3s ease-out;
}

.product-score {
    font-size: 110%;
    padding: 2%;
    color: white;
    width: 30%;
    border-radius: 10px;
    margin: 2% 0px;
}

#score-1 {
    background-color: #b60101;
}

#score-2 {
    background-color: #fc6f33;
}

#score-3 {
    background-color: #d59c57;
}

#score-4 {
    background-color: #eaca12;
}

#score-5 {
    background-color: #8bc500;
}

#score-6 {
    background-color: #4b8a10;
}

#score-7 {
    background-color: #006824;
}

.button-image {
    width: 100%;
}

.button-wrapper {
    width: 50%;
    border: 0px solid black;
}

.like-and-save {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 25%;
}
