.product-container {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 4;
    font-family: arial;
    margin-bottom:1%;
}

@media screen and (max-width: 500px) {
    .product-container {
        column-count: 1;
    }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
    .product-container {
        column-count: 2;
    }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
    .product-container {
        column-count: 3;
    }
}

.load-more-button {
    width: 10%;
    font-size: 120%;
    border: none;
    border-radius: 10px;
    padding: 1% 0%;
    margin:1%;
}

.load-more-button:hover {
    background-color: #ececec;
    cursor: pointer;
}
